@font-face {
    font-family: Lexend-Deca;
    src:
        url("/fonts/LexendDeca-Regular.woff2") format("woff2"),
        url("/fonts/LexendDeca-Regular.woff") format("woff"),
        url("/fonts/LexendDeca-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

/* weight:400 */

@font-face {
    font-family: Big-Shoulders-Display;
    src:
        url("/fonts/BigShouldersDisplay-Thin.woff2") format("woff2"),
        url("/fonts/BigShouldersDisplay-Thin.woff") format("woff"),
        url("/fonts/BigShouldersDisplay-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

/* weight:700 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

:root {
    --bright-orange: hsl(31deg 77% 52%);
    --dark-cyan: hsl(184deg 100% 22%);
    --very-dark-cyan: hsl(179deg 100% 13%);
    --paragraphs: hsl(0% 0% 100% / 75%);
    --background-headings-buttons: hsl(0deg 0% 95%);
    --font-400: lexend-deca;
    --font-700: big-shoulders-display;
}

.card-container {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    border-radius: 10px;
    max-width: 925px;
}

.card {
    box-sizing: border-box;
    max-width: 330px;
    display: flex;
    flex-flow: column nowrap;
    padding: 3em;
    gap: 25px;
    justify-content: space-between;
}

.title {
    text-transform: uppercase;
    font-family: var(--font-700), sans-serif;
    color: var(--background-headings-buttons);
    font-size: 4em;
}

.description {
    line-height: 1.5em;
    font-family: var(--font-400), sans-serif;
    font-size: 1em;
    opacity: 0.75;
    color: #fff;
    margin-bottom: 4em;
}

.button {
    background-color: var(--background-headings-buttons);
    border: 1px solid white;
    border-radius: 25px;
    height: 50px;
    width: 150px;
    font-family: var(--font-400);
    font-size: 1em;
    cursor: pointer;
    text-transform: capitalize;
}

.card:first-child {
    background-color: var(--bright-orange);
}

.card:nth-child(2) {
    background-color: var(--dark-cyan);
}

.card:nth-child(3) {
    background-color: var(--very-dark-cyan);
}

.card:first-child > .button {
    color: var(--bright-orange);
}

.card:nth-child(2) > .button {
    color: var(--dark-cyan);
}

.card:nth-child(3) > .button {
    color: var(--very-dark-cyan);
}

.card:first-child > .button:hover {
    color: var(--background-headings-buttons);
    background-color: var(--bright-orange);
}

.card:nth-child(2) > .button:hover {
    color: var(--background-headings-buttons);
    background-color: var(--dark-cyan);
}

.card:nth-child(3) > .button:hover {
    color: var(--background-headings-buttons);
    background-color: var(--very-dark-cyan);
}

@media screen and (max-width: 767px) {
    body {
        margin: 25px;
    }

    .card {
        padding: 3.333em;
    }

    .description {
        margin-bottom: 0;
        font-size: 1em;
    }

    .card-container {
        flex-flow: column nowrap;
    }
}
