@font-face {
    font-family: Lexend-Deca;
    src:
        url("/fonts/LexendDeca-Regular.woff2") format("woff2"),
        url("/fonts/LexendDeca-Regular.woff") format("woff"),
        url("/fonts/LexendDeca-VariableFont_wght.ttf") format("truetype");
}

/* weight:400 */

@font-face {
    font-family: Big-Shoulders-Display;
    src:
        url("/fonts/BigShouldersDisplay-Thin.woff2") format("woff2"),
        url("/fonts/BigShouldersDisplay-Thin.woff") format("woff"),
        url("/fonts/BigShouldersDisplay-VariableFont_wght.ttf") format("truetype");
}

/* weight:700 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background-color: #333;
}

:root {
    --bright-orange: hsl(31deg 77% 52%);
    --dark-cyan: hsl(184deg 100% 22%);
    --very-dark-cyan: hsl(179deg 100% 13%);
    --paragraphs: hsl(0% 0% 100% / 75%);
    --background-headings-buttons: hsl(0deg 0% 95%);
    --lexend-font: lexend-deca;
    --big-font: big-shoulders-display;
}

.container-absolute {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 25px;
}

.card {
    box-sizing: border-box;
    max-width: 350px;
    display: flex;
    flex-flow: column nowrap;
    padding: 25px;
    gap: 25px;
    justify-content: space-between;
}

.title {
    text-transform: uppercase;
    font-family: var(--big-font), sans-serif;
    font-weight: 700;
    color: var(--background-headings-buttons);
    font-size: 2em;
}

.description {
    font-family: var(--lexend-font);
    font-size: 0.8em;
    font-weight: 400;
    margin-bottom: 25px;
    color: var(--background-headings-buttons);
}

.text-mayus {
    text-transform: uppercase;
}

.button {
    background-color: var(--background-headings-buttons);
    border: 1px solid white;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    font-family: var(--lexend-font);
    font-weight: 400;
    font-size: 0.8em;
    cursor: pointer;
}

.card:first-child {
    background-color: var(--bright-orange);
}

.card:nth-child(2) {
    background-color: var(--dark-cyan);
}

.card:nth-child(3) {
    background-color: var(--very-dark-cyan);
}

.card:first-child > .button {
    color: var(--bright-orange);
}

.card:nth-child(2) > .button {
    color: var(--dark-cyan);
}

.card:nth-child(3) > .button {
    color: var(--very-dark-cyan);
}

.card:first-child > .button:hover {
    color: var(--background-headings-buttons);
    background-color: var(--bright-orange);
}

.card:nth-child(2) > .button:hover {
    color: var(--background-headings-buttons);
    background-color: var(--dark-cyan);
}

.card:nth-child(3) > .button:hover {
    color: var(--background-headings-buttons);
    background-color: var(--very-dark-cyan);
}

@media screen and (max-width: 500px) {
    .container-absolute {
        height: auto;
        margin-top: 25px;
    }

    .card-container {
        flex-flow: column nowrap;
        margin: 0;
    }
}
